.icon-button {
  color: #ffffff;
  margin: 0;
}
.app-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0;
}

.icon-mob-menu {
  color: #ffffff;
  margin: 0;
}

.menu-item {
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to left, #964b00, #008600);
  padding: 12px 16px;
  color: #ffffff;
  font-size: 16px;
}

.mob-menu-text {
  padding: 0;
  color: #ffffff;
  margin: 0;
}

.menu-item:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.menu-item .icon-mob-menu {
  margin-right: 8px;
}
