.header-section {
  padding: 3px 94px;
  background-image: linear-gradient(to left, #cc8960, #70a871);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@import url("../../fonts.css");
p {
  margin: 0;
  padding: 0;
}
@media (max-width: 640px) {
  .header-section {
    padding: 8px 20px;
  }
}
.title-header-desc {
  font-family: "Lumanosimo", cursive;
  font-weight: 700;
  line-height: normal;
  font-size: 28px;
}
.nav-menu-desk {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.list-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.list-nav {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
}

.nav_list_item {
  position: relative;
}

.list_item_title {
  font-size: 18px;
  margin: 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.list_item_title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-image: linear-gradient(to right, #00ff00, #00bfff);

  transition: width 0.2s ease;
}

.list_item_title:hover::after,
.list_item_title:focus::after {
  width: 100%;
}
@media (max-width: 768px) {
  .header-section {
    padding: 3px 20px;
  }

  .list-nav {
    gap: 40px;
  }

  .title-header-desc {
    font-size: 24px;
  }

  .list_item_title {
    font-size: 16px;
  }
}
