.hero-slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
body {
  background-image: linear-gradient(to left, #cc8960, #70a871);
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1s;
}
.slide.active-slide {
  opacity: 1;
}
.slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 10px 0;
  letter-spacing: 0.04em;
}

.hero-subtitle {
  font-size: 24px;
  letter-spacing: 0.04em;
  font-weight: 600;
}

.slider-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.slider-button.active {
  background-color: #c4da00;
}
.hero-section {
  background-image: linear-gradient(to left, #cc8960, #70a871);
}
@media (max-width: 600px) {
  .hero-slider {
    min-height: 500px;
  }
  /* .hero-section { */
  /* background-image: linear-gradient(to left, #964b00, #008600); */
  /* } */
  .hero-title {
    width: 300px;
    font-size: 28px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .slider-buttons {
    bottom: 10px;
  }

  .slider-button {
    width: 6px;
    height: 6px;
    margin: 0 3px;
  }
}
