.services-section {
  padding: 40px 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price-list {
  background-image: linear-gradient(to left, #cc8960, #5da85e);
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 10px;
  border: 1px solid #fff;
}
.service-container {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.price-list {
  width: 46%;
}
.price-list li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  flex-direction: column;
  transition: max-height, color, 0.3s linear;
}
.services-main-wrap {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.price-list p {
  transition: max-height, color, 0.3s linear;
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.6;
}
.price-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.price {
  transition: color, 0.3s linear;
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
  width: 110px;
  text-align: center;
}
.subtitle-services {
  text-align: center;
}
.description_wrap {
  padding: 10px;
  color: #ccc;
}
.description_wrap p {
  font-size: 12px;
  letter-spacing: 0.03em;
}
.price-list li.open {
  background-color: #fff;
}

.price-list li.closed {
  background-color: #000;
}
@media only screen and (max-width: 768px) {
  .services-section {
    padding: 20px 0;
  }
  .service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .section-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .price-list p {
    font-size: 14px;
  }

  .price {
    width: 100px;
  }
  .price-list {
    padding: 10px;
    width: 100%;
  }
}
.price-list h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 540px) {
  .services-section {
    padding: 20px 0;
  }
  .service-container {
    padding: 0 10px;
  }
  .section-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .price-list {
    width: 100%;
  }
  .price-list > p {
    font-size: 14px;
  }

  .price {
    font-size: 14px;
    width: 100px;
  }

  .price-list {
    padding: 10px;
  }
  .price-list li {
    margin-bottom: 0;
    justify-content: space-between;
  }
}
