@import url("./fonts.css");

.App {
  text-align: center;
}
body {
  margin: 0;
  background-image: linear-gradient(to left, #964b00, #008600);
  padding: 0;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h2 {
  text-align: center;
}
